<h1> These are all your transactions</h1>

<p >
  <a  class="bttn_positive" href="/transactions/new"> Create a new transaction </a>
</p>

<br></br>

<p>
  <ul>
    <% @transactions.each_with_index do |transaction, index| %>
    <h4>Transaction <%= index+1 %></h4>
    <li> Amount: <%= transaction.amount() %></li>
    <li> Date of transaction: <%= transaction.date_of_transaction() %> </li>
    <li> Merchant: <%= transaction.merchant() %> </li>
    <li> Type of purchase: <%= transaction.tag() %> </li>

    <form method="post" action = "/transactions/<%= transaction.id%>/delete_transaction">
      <input class = "bttn_delete" type="submit"  value="Delete this transaction"/>
    </form>
    <form method="get" action ="/transactions/<%= transaction.id %>/transaction_edit_form">
      <input class = "bttn_edit" type="submit"  value="Change  this transaction"/>
    </form>
    <% end %>
  </ul>

</p>
